<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
       http://www.springframework.org/schema/data/jpa
       http://www.springframework.org/schema/data/jpa/spring-jpa-1.8.xsd">

    <!-- Used to inform spring framework that the application is using annotations
    to create components -->
    <tx:annotation-driven/>
    <context:annotation-config/>
    <!-- Used to search for the properties file -->
    <context:property-placeholder location="classpath:application.properties"/>

    <!-- Used by the spring framework to create spring container components-->
    <context:component-scan base-package="com.myMoneyTracker.*"/>

    <!--The following is needed to show which package is being scanned for JpaRepository classes-->
    <jpa:repositories base-package="com.myMoneyTracker.dao"/>

    <!-- Spring beans definition -->
    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName"
                  value="${spring.datasource.driverClassName}"/>
        <property name="url" value="${spring.datasource.url}"/>
        <property name="username" value="${spring.datasource.username}"/>
        <property name="password" value="${spring.datasource.password}"/>
    </bean>

    <bean id="jpaVendorAdapter"
          class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
        <property name="showSql" value="true"/>
        <property name="generateDdl" value="true"/>
        <property name="database" value="POSTGRESQL"/>
    </bean>

    <bean id="entityManagerFactory"
          class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="jpaVendorAdapter" ref="jpaVendorAdapter"/>
        <!-- spring based scanning for entity classes>-->
        <property name="packagesToScan" value="com.myMoneyTracker.model"/>
    </bean>

    <bean id="transactionManager"
          class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <bean id="persistenceExceptionTranslationPostProcessor"
          class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>

    <bean id="passwordEncrypt" class="com.myMoneyTracker.util.PasswordEncrypt">
        <property name="algorithm" value="${passwordEncrypt.algorithm}"/>
    </bean>
    <bean id="emailValidator" class="com.myMoneyTracker.util.EmailValidator"/>
    
	<bean id="userUtil" class="com.myMoneyTracker.util.UserUtil"/>    
    
    <bean id="emailSender" class="com.myMoneyTracker.util.EmailSender">
        <property name="senderEmail" value="${emailSender.email}"/>
        <property name="senderPassword" value="${emailSender.password}"/>
        <property name="baseRegistrationUrl" value="${emailSender.base_registration_url}"/>
    </bean>

    <bean id="mapper" class="org.dozer.DozerBeanMapper">
        <!--<property name="mappingFiles">-->
        <!--<list>-->
        <!--<value>dozer/dozerBeanMapping.xml</value>-->
        <!--&lt;!&ndash;&lt;!&ndash;<value>dozer-bean-mappings.xml</value>&ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;&lt;!&ndash;<value>more-dozer-bean-mappings.xml</value>&ndash;&gt;&ndash;&gt;-->
        <!--</list>-->
        <!--</property>-->
    </bean>

    <bean id="appUserConverter"
          class="com.myMoneyTracker.converter.AppUserConverter"/>
    <bean id="incomeConverter"
          class="com.myMoneyTracker.converter.IncomeConverter"/>
</beans>